.c-btn{
  width: 102%;
  height: 40px;

  border-radius: 5px;
  color: rgb(70,70,70);
  font-size: 15px;
  margin-bottom: 10px;

  &:hover{
    background-color: rgba(230,230,230,0.6);
    color: black;
    cursor: pointer;
  }
}

.p-small__btn{
  width: 20%;
  height: 40px;
  color: rgb(70,70,70);
  border-radius: 5px;
  font-size: 15px;
  float: right;

  @include mq(sm){
    font-size: 10px;
  }

  &:hover{
    background-color: rgba(230,230,230,0.6);
    color: black;
    cursor: pointer;
  }
}

.sort__btn{
    margin-right: 10px;
    float: right;
    width: 10%;
    height: 40px;
    color: rgb(70,70,70);
    border-radius: 5px;
    font-size: 10px;

    &:hover{
      background-color: rgba(230,230,230,0.6);
      color: black;
      cursor: pointer;
    }
}
.rev__btn{
    margin-right: 10px;
    float: right;
    width: 10%;
    height: 40px;
    color: rgb(70,70,70);
    border-radius: 5px;
    font-size: 10px;
    display: inherit;
    @include mq(md){
      display: none;
    }

    &-md{
      margin-right: 10px;
      float: right;
      width: 10%;
      height: 40px;
      color: rgb(70,70,70);
      border-radius: 5px;
      font-size: 10px;
      display: none;

      @include mq(md){
        display: block;
      }
    }

    &:hover{
      background-color: rgba(230,230,230,0.6);
      color: black;
      cursor: pointer;
    }
}

.back__btn{
 margin-top: 25px;
 margin-left: 10px;
}

.tweet__btn{
  display: inline;
  color:white;
  margin-left: 20px;
  line-height: 12px;
  font-size: 14px;
  border-radius: 4px;
  padding: 2px 5px;
  background-color: #00acee;
}

.pagi__button{
  font-size: 15px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 4px;
  padding:  6px;
  cursor: pointer;
  display: inline;

  @include mq(md){
    font-size: 12px;
  }

}
