.c-image{
  &__container{
  position: relative;
  z-index: -10;
  text-align: center;

   @include mq(md){
    text-align: inherit;
   }

  }
  &__top{
    width: 90%;
    margin-top: 20px;

    @include mq(md){
      width: 100%;

    }
  }
}

.prof__image{
  width: 200px;
  height: 200px;
}
