.c-navbar{
  padding: 0 50px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
  line-height: 50px;
  background-color: white;
  position: relative;

  @include mq(md){
    padding: 0;

  }

  &__title{
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  color: #000033;

  }

  &__menu{
    display: flex;

  }

  &__item{
    padding: 0 3px;
    font-size: 14px;
    min-width: 100px;
    height: 40px;
    border-left: 1px solid silver;
    text-align: center;
    margin-top: 5px;
    line-height: 40px;
    color: #000033;
    cursor: pointer;

    @include mq(md){
      display: none;
    }

    &:hover{
      opacity: 0.7;
    }

  }



    &__span{
      display: none;
      cursor: pointer;

      @include mq(md){
        display: block;

      }

      position: relative;
      width: 30px;
      height: 50px;
      margin-right: 10px;

    &-1{
      position: absolute;
      top: 17px;
      background-color: black;
      width: 100%;
      height: 2px;
    }
    &-2{
      position: absolute;
      top: 25px;
      background-color: black;
      width: 100%;
      height: 2px;
    }
    &-3{
      position: absolute;
      top: 33px;
      background-color: black;
      width: 100%;
      height: 2px;
    }
  }

    &__menu-hide{

      position: absolute;
      top: -700px;
      width: 100%;
      text-align: center;
      height: auto;
      background-color: white;
      padding: 20px 0;
      transition: 0.5s;
      opacity: 0.98;
      z-index: 100;

    }

    &__item-hide{
      margin: 30px 0;
      padding: 20px 0;
      transition: 0.4s;

      &:hover{
        transition: 0.4s;
        background-color: #F5F5F5;
      }
    }

    &__close{
      float: right;
      font-size: 20px;
      margin-right:15px;
      cursor: pointer;
    }
  }



    .active{
      top: 0;
      transition: 0.5s;

  }
