.p-message{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-left: 60px;
  font-size: 15px;

  @include mq(md){
  width: 90%;
  padding-left: 20px;

  }

  &__title{
    text-align: center;
    padding-right: 35px;
  }


  &__left{
  width: 80%;
  background-color: white;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  margin:40px;
  position: relative;
  text-align: center;

  @include mq(sm){
    width:70%;

  }

  &-name{
    font-size: 11px;
    position: absolute;
    left: -53px;
    top: -30px;
  }

  &-image{
    position: absolute;
    left: -65px;
    top: -10px;
    width: 50px;
    border-radius: 25px;
  }

  &-date{
    font-size: 8px;
    position: absolute;
    top: -17px;
    right: 3px;

  }

  }



  &__right{
    width: 80%;
    background-color: white;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    margin: 40px;
    position: relative;
    text-align: center;

    @include mq(sm){
      width: 70%;
      margin-left: 20px;
    }
    @include mq(xs){
        width: 70%;
     margin-left: 0;
    }

    &-name{
      font-size: 11px;
      position: absolute;
      right: -50px;
      top: -30px;
    }

    &-image{
      position: absolute;
      right: -65px;
      top: -10px;
      width: 50px;
      border-radius: 25px;
    }

    &-date{
      font-size: 8px;
      position: absolute;
      top: -17px;
      left: 3px;

    }
  }
}
