.p-message{
  text-align: center;
  width: 100%;
  margin: 0 auto;

  &__left{
  width: 80%;
  background-color: white;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  margin:40px;
  position: relative;
  text-align: center;

  &-name{
    font-size: 11px;
    position: absolute;
    left: -75px;
    top: -30px;
  }

  &-image{
    position: absolute;
    left: -65px;
    top: -10px;
    width: 50px;
    border-radius: 25px;
  }

  &-date{
    font-size: 8px;
    position: absolute;
    top: -17px;
    right: 3px;

  }

  }



  &__right{
    width: 80%;
    background-color: white;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    margin: 40px;
    position: relative;
    text-align: center;

    &-name{
      font-size: 11px;
      position: absolute;
      right: -80px;
      top: -30px;
    }

    &-image{
      position: absolute;
      right: -65px;
      top: -10px;
      width: 50px;
      border-radius: 25px;
    }

    &-date{
      font-size: 8px;
      position: absolute;
      top: -17px;
      left: 3px;

    }
  }
}
