.show{
  width: cover;
  background-color: #F5F5F5;
  background-size: cover;
  padding: 50px;

  @include mq(sm){
    padding: 20px;
  }

}
.p-show{

  &__title{
    text-align: center;
    font-size: 20px;
    margin: 50px 0;

  }

  &__label{
    font-weight: bold;
    margin-top: 40px;
  }

  &__newlabel{
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1.3px solid #DDD;
    padding: 10px;
    color: #0268cc;
  }

  &__container{
    margin: 25px 0;
    padding: 0;
  }
  &__contents{
    margin: 10px 0;
    padding: 0 10px;
  }

  &__image{
    text-align: center;
  }

  &__edit{
    float: right;
  }

  &__number{
    float: left;
  }
}
