.p-top{

  &__panel{
    margin: 20px auto 0px;
    width: 90%;
    height: 40px;
    padding: 10px;
    overflow: scroll;
    background-color: #F5F5F5;
    font-size: 14px;

    @include mq(lg){

    }
  }

  &__container{
  width: 80%;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;

  @include mq(lg){
  top: 37%;
  }
  @include mq(md){
  top: 60%;
  }


  }
  &__title{
  font-size: 150px;
  color: white;
  margin-bottom: 10px;
  line-height: 1;

  @include mq(lg){
  font-size: 120px;
  }
  @include mq(md){
  font-size: 80px;
  }

  @include mq(sm){
  font-size: 40px;
  }

  @include mq(xs){
  font-size: 30px;
  }

  }
  &__para{
    color: white;
    font-size: 20px;

    @include mq(lg){
    font-size: 15px;
    }
    @include mq(md){
    font-size: 15px;
    }

    @include mq(sm){
    font-size: 12px;
    }

    @include mq(xs){
    font-size:8px;
    }

  }
}
