@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:visited {
  color: inherit;
}

.c-navbar {
  padding: 0 50px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  line-height: 50px;
  background-color: white;
  position: relative;
}

@media screen and (max-width:768px) {
  .c-navbar {
    padding: 0;
  }
}

.c-navbar__title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  color: #000033;
}

.c-navbar__menu {
  display: flex;
}

.c-navbar__item {
  padding: 0 3px;
  font-size: 14px;
  min-width: 100px;
  height: 40px;
  border-left: 1px solid silver;
  text-align: center;
  margin-top: 5px;
  line-height: 40px;
  color: #000033;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .c-navbar__item {
    display: none;
  }
}

.c-navbar__item:hover {
  opacity: 0.7;
}

.c-navbar__span {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 50px;
  margin-right: 10px;
}

@media screen and (max-width:768px) {
  .c-navbar__span {
    display: block;
  }
}

.c-navbar__span-1 {
  position: absolute;
  top: 17px;
  background-color: black;
  width: 100%;
  height: 2px;
}

.c-navbar__span-2 {
  position: absolute;
  top: 25px;
  background-color: black;
  width: 100%;
  height: 2px;
}

.c-navbar__span-3 {
  position: absolute;
  top: 33px;
  background-color: black;
  width: 100%;
  height: 2px;
}

.c-navbar__menu-hide {
  position: absolute;
  top: -700px;
  width: 100%;
  text-align: center;
  height: auto;
  background-color: white;
  padding: 20px 0;
  transition: 0.5s;
  opacity: 0.98;
  z-index: 100;
}

.c-navbar__item-hide {
  margin: 30px 0;
  padding: 20px 0;
  transition: 0.4s;
}

.c-navbar__item-hide:hover {
  transition: 0.4s;
  background-color: #F5F5F5;
}

.c-navbar__close {
  float: right;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.active {
  top: 0;
  transition: 0.5s;
}

#form {
  width: cover;
  background-color: #F5F5F5;
  background-size: cover;
  padding: 50px;
}

@media screen and (max-width:550px) {
  #form {
    padding: 20px;
  }
}

.c-form {
  padding: 70px;
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
}

.c-form__title {
  text-align: center;
  font-size: 22px;
  padding-right: 10px;
}

.c-form__group {
  margin: 20px 0;
}

.c-form__control {
  margin: 10px 0;
  width: 100%;
  height: 35px;
  display: block;
  font-size: 100%;
}

.c-form__control-price {
  margin: 10px 0;
  width: 100px;
  height: 30px;
  border: 1px solid silver;
}

.c-form__area {
  width: 100%;
  margin: 10px 0;
  display: block;
  font-size: 100%;
}

.c-btn {
  width: 102%;
  height: 40px;
  border-radius: 5px;
  color: #464646;
  font-size: 15px;
  margin-bottom: 10px;
}

.c-btn:hover {
  background-color: rgba(230, 230, 230, 0.6);
  color: black;
  cursor: pointer;
}

.p-small__btn {
  width: 20%;
  height: 40px;
  color: #464646;
  border-radius: 5px;
  font-size: 15px;
  float: right;
}

.p-small__btn:hover {
  background-color: rgba(230, 230, 230, 0.6);
  color: black;
  cursor: pointer;
}

.sort__btn {
  margin-right: 10px;
  float: right;
  width: 10%;
  height: 40px;
  color: #464646;
  border-radius: 5px;
  font-size: 10px;
}

.sort__btn:hover {
  background-color: rgba(230, 230, 230, 0.6);
  color: black;
  cursor: pointer;
}

.back__btn {
  margin-top: 25px;
  margin-left: 10px;
}

.tweet__btn {
  color: white;
  margin-left: 20px;
  line-height: 12px;
  font-size: 14px;
  border-radius: 4px;
  padding: 2px 5px;
  background-color: #00acee;
}

.pagi__button {
  background-color: white;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 5px;
}

.c-image__container {
  position: relative;
  z-index: -10;
  text-align: center;
}

@media screen and (max-width:768px) {
  .c-image__container {
    text-align: inherit;
  }
}

.c-image__top {
  width: 90%;
  margin-top: 20px;
}

@media screen and (max-width:768px) {
  .c-image__top {
    width: 100%;
  }
}

.c-image__container {
  position: relative;
  z-index: -10;
  text-align: center;
}

@media screen and (max-width:768px) {
  .c-image__container {
    text-align: inherit;
  }
}

.c-image__top {
  width: 90%;
  margin-top: 20px;
}

@media screen and (max-width:768px) {
  .c-image__top {
    width: 100%;
  }
}

.c-panel__container {
  margin: 10px;
  padding: 70px 90px;
  max-width: 700px;
  min-width: 300px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  position: relative;
}

@media screen and (max-width:550px) {
  .c-panel__container {
    font-size: 14px;
    padding: 30px 30px;
    max-width: 400px;
    min-width: 100px;
  }
}

#articles {
  background-color: #F5F5F5;
  padding: 50px;
}

@media screen and (max-width:550px) {
  #articles {
    padding: 20px;
  }
}

.c-article__id {
  margin: 13px 0;
}

.c-article__title {
  font-size: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width:550px) {
  .c-article__title {
    font-size: 20px;
  }
}

.c-article__title__sort {
  float: right;
}

.c-article__body {
  margin-top: 50px;
  min-height: 100px;
  width: 100%;
  padding: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid silver;
}

.c-article__price {
  float: left;
}

.c-article__kind {
  float: right;
  margin-right: 30px;
}

.show {
  width: cover;
  background-color: #F5F5F5;
  background-size: cover;
  padding: 50px;
}

@media screen and (max-width:550px) {
  .show {
    padding: 20px;
  }
}

.p-show__title {
  text-align: center;
  font-size: 20px;
  margin: 50px 0;
}

.p-show__label {
  font-weight: bold;
}

.p-show__newlabel {
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding: 10px;
}

.p-show__contents {
  margin-bottom: 20px;
  padding: 0 10px;
}

.p-show__image {
  text-align: center;
}

.p-show__edit {
  float: right;
}

.p-show__number {
  float: left;
}

#comment {
  margin-top: 50px;
}

.p-comment__label {
  margin: 60px 0 10px;
  display: inline-block;
  font-size: 20px;
}

.p-comment__form {
  margin: 20px 10px;
}

.p-comment__delete {
  width: 10%;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  color: #FF9900;
  font-size: 10px;
  position: absolute;
  right: -70px;
  top: 5px;
}

@media screen and (max-width:550px) {
  .p-comment__delete {
    right: -40px;
  }
}

.p-comment__delete:hover {
  opacity: 0.7;
  cursor: pointer;
}

.p-comment__contents {
  padding: 10px 10px 0px;
  min-height: 100px;
  border: 1px solid silver;
  border-radius: 10px;
  margin-bottom: 30px;
}

.p-comment__container {
  width: 100%;
  margin: 30px 0px;
}

.p-comment__items {
  width: 90%;
  height: auto;
  background-color: #F5F5F5;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  position: relative;
}

.p-comment__name {
  position: absolute;
  left: 10px;
  top: -17px;
  font-size: 12px;
}

.p-comment__text {
  margin-left: 30px;
}

.p-comment__date {
  position: absolute;
  top: -17px;
  right: 10px;
  font-size: 5px;
}

.p-message {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.p-message__left {
  width: 80%;
  background-color: white;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  margin: 40px;
  position: relative;
  text-align: center;
}

.p-message__left-name {
  font-size: 11px;
  position: absolute;
  left: -75px;
  top: -30px;
}

.p-message__left-image {
  position: absolute;
  left: -65px;
  top: -10px;
  width: 50px;
  border-radius: 25px;
}

.p-message__left-date {
  font-size: 8px;
  position: absolute;
  top: -17px;
  right: 3px;
}

.p-message__right {
  width: 80%;
  background-color: white;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  margin: 40px;
  position: relative;
  text-align: center;
}

.p-message__right-name {
  font-size: 11px;
  position: absolute;
  right: -80px;
  top: -30px;
}

.p-message__right-image {
  position: absolute;
  right: -65px;
  top: -10px;
  width: 50px;
  border-radius: 25px;
}

.p-message__right-date {
  font-size: 8px;
  position: absolute;
  top: -17px;
  left: 3px;
}

.p-top__panel {
  margin: 20px auto 0px;
  width: 90%;
  height: 40px;
  padding: 10px;
  overflow: scroll;
  background-color: #F5F5F5;
  font-size: 14px;
}

.p-top__container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

@media screen and (max-width:1000px) {
  .p-top__container {
    top: 37%;
  }
}

@media screen and (max-width:768px) {
  .p-top__container {
    top: 60%;
  }
}

.p-top__title {
  font-size: 150px;
  color: white;
  margin-bottom: 10px;
  line-height: 1;
}

@media screen and (max-width:1000px) {
  .p-top__title {
    font-size: 120px;
  }
}

@media screen and (max-width:768px) {
  .p-top__title {
    font-size: 90px;
  }
}

@media screen and (max-width:550px) {
  .p-top__title {
    font-size: 50px;
  }
}

.p-top__para {
  color: white;
}

.p-footer {
  margin-top: 50px;
  width: 100%;
  height: 60px;
  background-color: #F5F5F5;
  padding: 40px 0 20px;
}

.p-footer__list {
  width: auto;
  float: right;
  margin-right: 30px;
}

@media screen and (max-width:768px) {
  .p-footer__list {
    font-size: 13px;
  }
}

.p-footer__item {
  float: left;
  letter-spacing: 5px;
}

.p-footer__copyright {
  padding-top: 40px;
  padding-left: 95px;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.5;
}

.pb-3 {
  padding-bottom: 15px;
}

.mt-3 {
  margin-top: 15px;
}

