@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.c-navbar {
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  line-height: 50px;
}

.c-navbar__title {
  font-size: 20px;
  margin-left: 30px;
  font-family: "Patua One", cursive;
}

.c-navbar__menu {
  display: flex;
}

.c-navbar__item {
  padding: 0 3px;
  font-size: 14px;
  min-width: 100px;
  height: 40px;
  border-left: 1px solid silver;
  text-align: center;
  margin-top: 5px;
  line-height: 40px;
  color: #66CCCC;
  cursor: pointer;
}

#form {
  width: cover;
  background-color: silver;
  background-size: cover;
}

.c-form {
  padding: 70px;
  width: 400px;
  height: 600px;
  margin: 0 auto;
}

.c-form__group {
  margin: 20px 0;
}

.c-form__control {
  margin: 10px 0;
  width: 350px;
  height: 35px;
  display: block;
  font-size: 100%;
}

.c-form__control-price {
  margin: 10px 0;
  width: 100px;
  height: 30px;
}

.c-form__area {
  width: 350px;
  margin: 10px 0;
  display: block;
  font-size: 100%;
}

.c-btn {
  width: 350px;
  height: 40px;
  background-color: #3366FF;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.c-btn:hover {
  background-color: #3366CC;
  cursor: pointer;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

