

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.5;
}
.alert{
  color: #FF3333;
}
.pb-3{
  padding-bottom: 15px;
}
.mt-3{
  margin-top: 15px;
}

.flash{
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgba(73,170,101,0.4);
}
